/* components/Modal.module.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;600;700&display=swap');
@font-face {
  font-family: 'AnavioSmallCapitalsW01-Bold'; /* Name for the font */
  src: url('/font/Anavio_Small_Capitals_W01_Bold.ttf') format('truetype'); /* Path to the font */
  font-weight: normal; /* Define the weight */
  font-style: normal;  /* Define the style */
}
@font-face {
  font-family: 'SF Ironsides'; /* Name for the font */
  src: url('/font/SF_Ironsides.ttf') format('truetype'); /* Path to the font */
  font-weight: normal; /* Define the weight */
  font-style: normal;  /* Define the style */
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal {
    background: black;
    padding: 20px;
    border-radius: 8px;
    width: 700px;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
  }
  .item {
	height: 183px;
	width: 224px;
    border-radius: 15px;

}

.titleBox{
  display: flex;
  width: 100%;
  justify-content: center;
gap: 10px;
}
.title {
    display: flex;
    justify-content: center;
    color: white;
    font-family: "AnavioSmallCapitalsW01-Bold";
  font-weight: 200;
  font-optical-sizing: auto;
  font-style: normal;
  text-align: center;
}
.leftgroup{
  width: 183.728px;
  height: 53.209px;
  flex-shrink: 0;
}

.rightgroup{
  width: 183.728px;
  height: 53.209px;
  flex-shrink: 0;
}
@media screen and (max-width: 768px){
  .leftgroup,
  .rightgroup {
    display: none;
  }
}
.innerContainer {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-optical-sizing: auto;
  font-style: normal;
    
}
  .closeButton {
    color: white;
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  .closeicon{
    color: #50FF00;
  }
  .content {
    padding: 10px 0;
  }
  .leftBLock{
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
  }

  .registerButtonBox{

    width: 191.432px;
    height: 63.11px;
    background-image: url('/button_bg.svg');
    fill: #000;
    filter: drop-shadow(0px -2.996px 2.996px #55A826);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .registerButton{
    color: var(--Color-Primary500, #50FF00);
    font-family: "SF Ironsides";
    font-size: 29.964px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: #000;
    border: none;
  }

  .RuleButtonBox{

    background-image: url('/button_bg.svg');
    fill: #000;
    filter: drop-shadow(0px -2.996px 2.996px #55A826);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .ruleBookButton{
    color: var(--Color-Primary500, #50FF00);
    font-family: "SF Ironsides";
    font-size: 29.964px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: #000;
    border: none;
  }

  .verticalline {
    border-left: 2px dotted white; /* Dotted line color and width */
    height: auto;
    margin: 0 20px; /* Add space around the line */
    align-self: stretch;
}



.rightBlock{
    color: white;
    width: auto;
    max-width: 400px;
    overflow-y: auto; /* Adds a scroll bar if content exceeds height */
    word-wrap: break-word; /* Wraps long words */
    word-break: break-word; 
    height: 100%;
    font-family: "Laila";
    font-size: 15px;
  font-weight: 200;
  

}
  .ruleBookButton{
    width: 100%;
    
    border-color: #50FF00;
    border: 2px solid #50FF00;
    padding: 10px;
    border-radius: 10px;
    color: white;
    background-color: black;
    font-family: "Laila";
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    
  }

  @media screen and (max-width: 768px) {
      .innerContainer{
        flex-direction: column;
      }

      .verticalline {
        border-left: none; /* Remove the vertical line */
        border-top: 2px dashed white; /* Horizontal dashed line */
        width: 100%; /* Adjust width to full width */
        margin: 20px 0; /* Adjust margin for horizontal line */
        align-self: center;
    }

    .modal {
      width: 90%; /* Adjust width for mobile/tablet screens */
      padding: 15px;
      border-radius: 6px;
      max-height: 80vh; /* Limit height to 80% of viewport height */
      overflow-y: auto; /* Add vertical scrolling */
      border-radius: 6px; /* Slightly smaller border-radius */
  }
}

@media (max-width: 480px) {
  .modal {
      width: 90%; /* Further reduce width for smaller screens */
      padding: 10px;
      /* padding-bottom: 12px; */
      border-radius: 5px;
      max-height: 80vh; /* Limit height to 80% of viewport height */
      overflow-y: auto; /* Enable vertical scrolling */
  }
  .innerContainer{
    margin-bottom: 10px;

  }
}