@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
.mainContainer {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-image: url('/events/bg.svg'); */
    background-size: cover;
    background-position-x: center;
    /* background-position-y: center; */
    /* background-repeat: repeat-y; */
}

.container {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    padding-top: 20vh;
    transition: opacity 0.5s ease-in-out;
    width: 90vw;
    margin-bottom: 40px;
}
.searchcontainer {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    max-width: 50vw;
    transition: opacity 0.5s ease-in-out;
}
.searchbar {
    background-color: black;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 2px 2px rgba(96, 0, 197, 0.5);
    width:100%;
    height: 40px;
    padding: 10px;
    font-size: 20px;
    font-family: 'Outfit', sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    color: white;
    font-style: normal;
    outline: none; /* Remove outline on focus */
    color: transparent;
}
.searchicon {
    position: absolute;
    right: 10px;
    width: 20px;
    height: 20px;
    fill: #ffffff; /* Icon color */
    pointer-events: none; /* Make icon non-clickable */
}
.titletext {
    color: white;
    font-family: 'Outfit', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    transition: opacity 0.5s ease-in-out;
}
.fadeOut {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    pointer-events: none; /* Disable interaction when faded out */
}

/* Fade-in effect */
.fadeIn {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.cardContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.titleBox {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin: min(200px, 5vh) min(5vw, 100px);
}

.titleBox h1 {
    font-size: min(100px, 15vw);
    color: #1664bf;
    font-weight: 700;
    letter-spacing: -1.2px;
}

.titleBox p {
    text-align: justify;
    max-width: 700px;
    width: 90vw;
    margin-bottom: 25px;
    color: #010031;
    font-size: min(20px, 5vw);
    letter-spacing: 2px;
    line-height: 150%;
}

.imageBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rulebook {
    width: fit-content;
    padding: 16px 36px;
    background-color: #010031;
    color: white;
    border-radius: 10px;
    font-size: min(20px, 5vw);
    font-weight: 600;
    text-decoration: none;
}

.content {
    margin: 50px 0;
    width: 92vw;
    /* width: 100vw; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 70px 20px;
}
@media screen and (max-width: 785px) {
    .searchcontainer {
        max-width: 60vw;
    }
}

@media screen and (max-width: 550px) {
    .searchcontainer {
        max-width: 80vw;
    }
}